{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<header style="display: flex; flex-direction: row; justify-content: space-between; align-items: center">
  <h3 style="font-weight: bold">Profile</h3>
  {% if request.user.is_authenticated and profile.user == request.user %}
  <div class='btn-group'>
    <a href="{{profile.get_update_url}}" class="btn btn-outline-primary">Edit Profile</a>
  </div>
  {% endif %}
</header>
<br>
<div class='profile'>
  {% if profile %}
  <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 1rem; ">
    <div class="profile-left">
      <img style="height: 450px" src="{{profile.image.url}}" alt="">
      <br>
      <br>
      <h4>{{profile.name}}</h4>
      <p class="lead">{{profile.location}}</p>
      {% if request.user.is_authenticated %}
      <a href="{{profile.get_experience_url}}" class="btn btn-primary">Experiences</a>
      <a href="{{profile.get_education_url}}" class="btn btn-secondary">Educations</a>
      {% endif %}
    </div>
    <div class="profile-right">
      <ul class="lis-group">
        <li class="list-group-item">
          <h4 class="text-center">{{profile.profession}}</h4>
        </li>
        <hr>
        <li class="list-group-item">
          <strong>Company</strong>
          <span class="float-right">{{profile.company}}</span>
        </li>
        <li class="list-group-item">
          <strong>Website</strong>
          <span class="float-right">{{profile.website}}</span>
        </li>
        <li class="list-group-item">
          <strong>Gender</strong>
          <span class="float-right">{{profile.gender}}</span>
        </li>
        <li class="list-group-item">
          <strong>Age</strong>
          <span class="float-right">{{profile.age}}</span>
        </li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Skills</strong>
        </li>
        {% for skill in profile.skills.split %}
        <li class="list-group-item">
          <strong>{{forloop.counter}}.</strong>
          <span class=""> {{skill}}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <div class="profile-about">
    <div class="text-center">
      <h4>About</h4>
      <p class="lead">{{profile.bio}}</p>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <div class="profile-social">
    <div>
      <header style="display: flex; flex-direction: row; justify-content: space-between; align-items: center" class="">
        <h4>Follow Me</h4>
        <!-- Button trigger modal -->
        {% if request.user.is_authenticated and profile.user == request.user %}
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modelId">
          Social Links
        </button>
        {% endif %}
      </header>
      <br />
      <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form method="POST" action=""> {% csrf_token %}
              <div class="modal-header">
                <h5 class="modal-title">Social Page</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  {{form|crispy}}
                </div>
              </div>
              <div class="modal-footer">
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  {% if profile.social %}
                  <button type="submit" class="btn btn-primary">Update</button>
                  {% else %}
                  <button type="submit" class="btn btn-success">Add</button>
                  {% endif %}
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div
      style="display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 1rem; justify-content: center; align-items: center"
      class="profile-social-links">
      {% if profile.social.youtube %}
      <a href="{{profile.social.youtube}}" class="btn btn-outline-primary">
        Youtube
      </a>
      {% endif %}
      {% if profile.social.twitter %}
      <a href="{{profile.social.twitter}}" class="btn btn-outline-primary">Twitter</a>
      {% endif %}
      {% if profile.social.facebook %}
      <a href="{{profile.social.facebook}}" class="btn btn-outline-primary">Facebook</a>
      {% endif %}
      {% if profile.social.linkedin %}
      <a href="{{profile.social.linkedin}}" class="btn btn-outline-primary">Linked In</a>
      {% endif %}
      {% if profile.social.instagram %}
      <a href="{{profile.social.instagram}}" class="btn btn-outline-primary">Instagram</a>
      {% endif %}
      {% if profile.social.github %}
      <a href="{{profile.social.github}}" class="btn btn-outline-primary">Github</a>
      {% endif %}
    </div>
  </div>
  <br>
  {% if request.user.is_authenticated and profile.user == request.user %}
  <br>
  <hr>
  <br>
  <div class="profile-bottom">
    <p>
      <div class="card border-danger text-center p-4">
        <div class="card-body">
          <p class="lead">Privacy Zone</p>
          <p class="lead">You can not go back once the action done!</p>
          <a href="/users/destroy" class="btn btn-danger btn-lg">Delete Account</a>
        </div>
      </div>
    </p>
  </div>
  {% endif %}
  {% else %}
  <p class='lead text-muted'>No profiles found..</p>
  {% endif %}
</div>

<script>
  $('#exampleModal').on('show.bs.modal', event => {
    var button = $(event.relatedTarget);
    var modal = $(this);
    // Use above variables to manipulate the DOM

  });
</script>
{% endblock %}