/* Global Section */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background: #eaeaea;
}

.page-heading {
  font-weight: bold !important;
}

.p-display-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

@media Screen and (max-width: 1000px) {
  .p-display-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media Screen and (max-width: 778px) {
  .p-display-grid {
    grid-template-columns: 1fr !important;
  }
}

nav {
  z-index: 100 !important;
  opacity: 1 !important;
}

.home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: url('../img/home.jpg');
  opacity: .80;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: -1 !important;
}

.home .home-content {
  z-index: 100 !important;
  opacity: 1 !important;
  margin-left: 5.5rem;
}

.home .home-content h1 {
  color: #fff;
  text-shadow: 3px 5px 8px #111;
}

.home .home-content .btn {
  box-shadow: 3px 5px 8px #111;
}

.dashboard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}