{% extends 'base.html' %}

{% block content %}
<header class="mb-5">
  <h3 style="font-weight: bold" class="page-heading">Products</h3>
  <hr>
</header>
<div class="p-display-grid">
  {% if not products %}
  <p class="lead text-muted">No products added yet..<p>
      {% else %}
      {% for product in products %}
      <div class="card">
        <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">${{product.price}}</p>
          <div class="text-center">
            <div class="btn-group">
              <a class="btn text-primary" style="text-decoration: none" href="{{product.get_like_url}}">
                <i class="fas fa-thumbs-up fa-2x mr-2"></i>
                {% if product.like_set.all.count >= 1 %}
                {{ product.like_set.all|length }}
                {% endif %}
              </a>
              <a class="btn text-primary" href="{{product.get_unlike_url}}">
                <i class="fas fa-thumbs-down fa-2x"></i>
              </a>
            </div>
            <br><br>
            <div class="btn-group">
              <a href="{{product.get_absolute_url}}" class="btn btn-outline-primary">Details</a>
              <a href="{{product.get_add_to_cart_url}}" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
</div>
{% endblock %}