{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<header class="mb-5">
  <h3 style="font-weight: bold" class="page-heading">Add To Cart</h3>
  <hr>
</header>
<div class="card">
  <div class='row'>
  <div class='col-sm-6'>
    <img style="height: 350px" class="" src="{{ product.image.url }}" alt="">
  </div>
  <div class='col-sm-6'>
    <div class="card-body">
      <p class='lead'>{{product.name}}</p>
      <p class='lead'>${{product.price}}</p>
      <form method="POST" action=""> {% csrf_token %}
        {{ form|crispy }}
        <button type='submit' class='btn btn-outline-success'>Add to Cart</button>
      </form>
    </div>
  </div></div>
</div>
{% endblock %}