{% extends 'base.html' %}

{% block content %}
<p class="lead text-muted text-center">Are you wanna remove this product?</p>
<form method="POST" action=""> {% csrf_token %}
  <div class="card" style="width: 500px; height: 500px; margin: auto">
    <img class="card-img-top" src="{{product.product.image.url}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{product.product.name}}</h5>
      <div class="btn-group">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a href="/cart" class="btn btn-outline-dark">No</a>
      </div>
    </div>
  </div>
</form>
{% endblock %}